<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Websocket</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>
  <div id="content">
    <header>
      <div id="status"></div> Status
    </header>

    <section>
      <ul>
      </ul>
    </section>

    <footer>
      <textarea placeholder="Digite seu texto aqui"></textarea>
    </footer>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
<script src="https://unpkg.com/@adonisjs/websocket-client@1.0.9/dist/Ws.browser.js"></script>

<script>

  let ws = adonis.Ws('ws://localhost:3333').connect()

  const status = document.querySelector('div#status');

  ws.on('open', () => {
    status.classList.add('online');
  });

  ws.on('close', () => {
    status.classList.remove('online');
  });

  ws.on('error', () => {
    status.classList.remove('online');
  });

  const url = new URLSearchParams(window.location.search);
  const name = url.get('name');

  const chat = ws.subscribe('chat');

  const textarea = document.querySelector('textarea');
  const messageBox = document.querySelector('ul');
  const section = document.querySelector('section');

  textarea.addEventListener('keypress', (e) => {
    if (e.code === 'Enter') {
      console.log('test')

      e.preventDefault();

      chat.emit('message', { text: textarea.value, name });

      textarea.value = '';
    }
  });

  chat.on('message', (data) => {
    const li = document.createElement('li');
    li.innerHTML = `<strong>${data.name}</strong> ${data.text}`;
    messageBox.appendChild(li);

    section.scrollTop = section.scrollHeight;
  });

</script>

</html>
